.ClassView {
  display: flex;
  flex-direction: column;
  /* width: 100%; */

  margin-top: 1rem;
  /* margin: 1rem; */
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .ClassView {
    padding: 2px;
    margin-top: 2px;
  }

  .Sections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 100%; */
    /* margin-top: 1rem; */
    /* margin: 1rem; */
  }
  .Section {
    width: 30%;
  }

  .text {
    margin-left: 0px;
  }
  .data-header-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
/* 
.data-header-view {
  margin: 1rem;
} */

.header {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BigButton,
.BigButtonCancel,
.BigButtonSave {
  width: 100%;
  height: 6rem;
  margin-top: 1rem;

  font-size: x-large;
  font-weight: bolder;
  border: none;
  /* border-radius: 10px; */
  padding: 30px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
  opacity: 0.8 transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.BigButton:hover {
  background-color: var(--accent);
}
.BigButtonSave:hover {
  background-color: var(--foreground-secondary);
}

.BigButtonCancel:hover {
  background-color: var(--foreground-primary);
}

.text {
  margin-left: 1rem;
  /* color: red; */
}
